<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">
<h1>
    Are you sure you wanna continue this action
</h1>
<div class="row">
    <div class="col-6"><a th:href="@{${previous}}" class="btn btn-success">Cancel</a></div>
    <div class="col-6"><a style="float: right" th:href="@{${next}}" class="btn btn-danger">Confirm</a></div>
</div>


</body>
</html>